.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 1rem;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  transition: background 200ms, border 200ms;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-size: 0.9rem;
  font-weight: 600;
}

.formGroup input {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  transition: background 200ms, border 200ms;
  font-size: 0.9rem;
  color: var(--text-primary);
}